extensions:
	slimApi: BrandEmbassy\Slim\DI\SlimApiExtension
	env: wodCZ\NetteDotenv\DotEnvExtension

slimApi:
	apiDefinitionKey: api
	slimConfiguration:
		settings:
			removeDefaultHandlers: true

services:
	- Entrydo\Pipedrive\ErrorHandler\ApiErrorHandler
	- Entrydo\Pipedrive\Lead\GenerateLeadAction
	- Devio\Pipedrive\Pipedrive(%pipedrive.apiKey%)

parameters:
	pipedrive:
		apiKey: @env::get(PIPEDRIVE_API_KEY)

	api:
		handlers:
			error: Entrydo\Pipedrive\ErrorHandler\ApiErrorHandler

		routes:
			"api":
				"1.0":
					'/lead':
						post:
							service: Entrydo\Pipedrive\Lead\GenerateLeadAction
